.button {
    background-color: hsl( var(--color-light-red), 1);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: hsl( var(--color-white), 1);
    transition: 0.3s
}

.button:hover {
    background-color: hsl( var(--color-light-red-focused), 1);
}

.button:active {
    transition: transform 0.05s;
    transform: scale(95%);
}