.button {
    padding: 0 1rem;
    border: none;
    color: hsl( var(--color-black), 1);
    background-color: hsl( var(--color-transparent), 0);
    transition: 0.3s;
}

.button:hover {
    color: hsl( var(--color-white), 1);
    background-color: hsl( var(--color-light-red), 0.75);
}