.container {
    aspect-ratio: calc(100%-4em)/(calc(100%-4em))2;
    width: calc(100%-4em);
    display: flex;
    box-shadow: 0 0 12px hsl( var(--color-dark-gray), 0.5);
    overflow: hidden;
}

.infoCard {
    width: calc(50% + 4em);
    aspect-ratio: 3/2;
}

.description {
    width: calc(50% - 4em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    gap: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p {
    text-align: center;
    font-size: var(--ff-medium);
    /* font-size: clamp(1vw, var(--ff-medium), 1.5vw); */
    color: hsl( var(--color-dark-gray), 1);
    font-weight: 300;
}