.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    width: 100vw;
}

.logo {
    cursor: pointer;
    margin: 0.5em;
    aspect-ratio: 192/64;
    height: 4em;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(96%);
}

.menu {
    display: flex;
}