.navlink {
    height: 100%;
}

.button {
    height: 100%;
    padding: 0 1em;
    border: none;
    color: hsl( var(--color-black), 1);
    background-color: hsl( var(--color-transparent), 0);
    transition: background-color 0.5s, color 0.3s, fill 0.3s;
}

.button div {
    transition: transform 0.4s;
}

.button:hover {
    color: hsl( var(--color-white), 1);
    fill: hsl( var(--color-white), 1);
    background-color: hsl( var(--color-light-red), 0.75);
}

.button:hover * {
    /* transform: translateY(-0.125em); */
    transform: scale(96%);
}